nav {
    position: relative;
    z-index: 1;
    position: fixed;
    font-weight: 500;
    font-family: 'Bai Jamjuree', sans-serif;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.link-nav {
    color: inherit;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 8px;
    border-radius: 10px;
}

.navbar.transparent .link-nav:hover {
    border: 2px solid white;
    background-color: white;
}

.navbar.opaque .link-nav:hover {
    border: 2px solid goldenrod;
    background-color: goldenrod;
}

.navbar.transparent .rocket-icon {
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition:
        background-color 0.4s ease,
        backdrop-filter 0.4s ease,
        height 0.9s ease,
        padding 0.8s ease;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-links a {
    min-width: 85px;
}

.navbar.transparent {
    color: goldenrod;
    background-color: transparent;
    height: 100px;
}

.navbar.opaque {
    color: black;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    height: 55px;
}

.navbar.opaque .rocket-icon {
    color: black;
}

.navbar.opaque .github {
    color: black;
}

.rocket-icon {
    font-size: 35px;
    transition: transform 0.3s ease;
}

.rocket-icon:hover {
    transform: rotate(-45deg) scale(1.1);
}

.nav-right .github {
    font-size: 35px;
    color: white;
}

.icon-nav-mobile {
    display: none;
    cursor: pointer;
}

@media (max-width: 1044px) {
    nav {
        padding: 0 50px;

    }
}

@media (max-width: 768px) {

    .nav-right {
        display: flex;
        align-items: center;
        gap: 18.75px;
    }

    .nav-right .github {
        margin-right: 10px;
    }

    .rocket-icon {
        margin-left: 10px;
    }

    nav {
        padding: 0 10px 0 50px;
        font-size: 1rem;
        font-weight: 700;

    }

    .icon-nav-mobile {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        gap: 0;
    }

    .nav-links.open {
        max-height: 500px;
    }

    .nav-links a {
        padding: 10px 15px;
        min-width: 0;
    }

    .icon-nav-mobile {
        font-size: 25px;
    }
}